<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.title %}
    {{ page.title }} - jrgnsn.net
    {% else %}
    playground - jrgnsn.net
    {% endif %}
  </title>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  <script src="https://cdn.usefathom.com/script.js" data-site="HOYQYQEM" data-excluded-domains="localhost"
        defer></script>
</head>

<body>
  {{ content }}
</body>

</html>